root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{js,ts,svelte,json,yaml,yml,toml,css,html}]
indent_size = 2

[*.{rs,py}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.smk]
indent_size = 4

[Snakefile]
indent_size = 4
